[Unit]
Description=${APP_NAME} App Service
ConditionPathExists=/home/ubuntu/apps/${APP_NAME}/server
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
LimitNOFILE=1048576

Restart=on-failure
RestartSec=5
StartLimitInterval=30
RuntimeMaxSec=21600

WorkingDirectory=/home/ubuntu/apps/${APP_NAME}
ExecStart=/home/ubuntu/apps/${APP_NAME}/server

Environment=PORT=${APP_PORT}
Environment=SECRET=${SECRET}

PermissionsStartOnly=true
StandardOutput=journal
StandardError=journal
SyslogIdentifier=${APP_NAME}

[Install]
WantedBy=multi-user.target
